<!DOCTYPE html>
<html ng-app="NewsTrackerApp">
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
        <script src="app.js"></script>
        <link rel="stylesheet" href="style.css">
    </head>

    <body ng-controller="newsController">
        <h1>News Feed</h1>
        <ul>
        <li class="articles" ng-repeat="element in news">{{ element.title }}
            <i ng-class="(element.starred) ? 'unhidden' : 'hidden'" class="fa fa-star" aria-hidden="true"></i>
            <button ng-click="StarTheArticle(element.id)">Star</button>
            <!--<p>{{ element.starred }}</p>-->
        </li>
    </ul>